body {
    background-color: rgb(76, 108, 141);
}

.category-title {
 text-align: center;
}

.tasks {
    margin: auto;
    width: 150px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.task-inputs {
    text-align: center;
}

.category-form {
    text-align: center;
}

